.centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid grey;
  padding: 4px 10px;
  width: 200px;
}

th {
  cursor: pointer;
}

.wrapper {
  padding-top: 100px;
  width: fit-content;
  margin: auto;
}
