<div *ngIf="loading" class="centerDiv">Loading...</div>

<div *ngIf="!loading" class="wrapper">
  <table>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('longitude')">longitude</th>
      <th (click)="sort('latitude')">latitude</th>
      <th (click)="sort('subdivisionStatusCode')">subdivisionStatusCode</th>
      <th (click)="sort('nearMapImageDate')">nearMapImageDate</th>
    </tr>
    <tr
      *ngFor="
        let sub of subdivisions
          | paginate : { itemsPerPage: 10, currentPage: page }
      "
    >
      <td>{{ sub.name }}</td>
      <td>{{ sub.longitude }}</td>
      <td>{{ sub.latitude }}</td>
      <td>{{ sub.subdivisionStatusCode }}</td>
      <td>{{ sub.nearMapImageDate }}</td>
    </tr>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
